body {
    background: url("https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?cs=srgb&dl=wood-texture-background-pine-82256.jpg&fm=jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .app-body {
    margin-top: 1rem;
    text-align: center;
  }
  
  .search-page {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    padding: 20%;
    background-color: #3c3c3cd3;
    display: none;
  }
  
  .image-page {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #3c3c3cd3;
    display: none;
  }
  
  .search-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card-body {
    margin-top: 1rem;
  }
  
  #peek-image {
    height: 350px;
    width: 350px;
    margin: 0;
    padding: 0;
    border: 3px solid darkgray;
    border-radius: 12px;
    -webkit-box-shadow: 10px 11px 6px -2px rgba(94, 94, 94, 0.795);
    -moz-box-shadow: 10px 11px 6px -2px rgba(94, 94, 94, 0.795);
    box-shadow: 10px 11px 6px -2px rgba(94, 94, 94, 0.795);
  }
  
  #full-image {
    height: 500px;
    width: 600px;
    margin: 0;
    margin-top: 1rem;
    margin-left: 27.5%;
    margin-bottom: 1rem;
    padding: 0;
    border: 3px solid darkgray;
    border-radius: 12px;
  }
  
  .details-btn {
    text-decoration: none;
    margin: auto;
    margin-top: 1rem;
    width: 90px;
    display: block;
    padding: 0.25rem;
    background-color: #f1f3f4;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 400ms;
  }
  
  .details-btn:hover {
    color: white;
    background-color: #3c3c3c;
    text-decoration: none;
  }
  
  .image_details {
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
  }