<!-- static -->
{% load static %}
<!-- bootstrap -->
<!-- {% load bootstrap4 %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'navbar.js' %}"></script>
    <title>Gallery</title>
  </head>
  <body>
    <nav class="container-fluid" id="top">
      <a class="app_badge" href="{% url 'welcome' %}">Home</a>
      <a class="categories" href="#">Categories</a>
      <a class="location" href="#">Location</a>
      <a id="dash" href="#">Dashboad</a>
    </nav>

    <!-- back to top widget -->
    <a class="widget" id="top-widget" href="#top"
      ><span>
        go top
      </span></a
    >

    <!-- search widget -->
    <span class="widget" id="bottom-widget"> search </span>

    <div class="location_options">
      <ul>
        <li><a class="top_link" href="#">Nairobi</a></li>
        <li><a href="#">Mombasa</a></li>
        <li><a href="#">Nakuru</a></li>
        <li><a class="bottom_link" href="#">Marsabit</a></li>
      </ul>
    </div>
    <div class="category_options">
      <ul>
        <li><a class="top_link" href="#">Food</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Sports</a></li>
        <li><a class="bottom_link" href="#">Memes</a></li>
      </ul>
    </div>

    <!-- app body -->
    {% for image_item in all_images %}
    <div class="app-body container">
      <!-- should be grid -->
      <div class="card-body">
        <img id="peek-image" src="{{ image_item.image }}" alt="image" />
        <div class="description-container">
          <a href="#" class="details-btn">see details</a>
        </div>
      </div>
    </div>

    <!-- image body -->
    <div class="image-page" id="image-full">
      <span class="close-search">&#x2718;</span>
      <div>
        <img id="full-image" src="{{ image_item.image }}" alt="image" />
      </div>
      <div>
        <p class="image_details">
          {{ image_item.image_description }}
        </p>
      </div>
    </div>
    {% endfor %}

    <!-- search body -->
    <!-- form -->
    <div class="search-page" id="dashboard">
      <span class="close-search">&#x2718;</span>
      <form action="{%url 'image_upload'%}" class="search-form" method="POST">
        {% csrf_token %}
        <div>
          <input type="file" name="image_upload" id="image_upload" />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="image_name_upload"
            id="image_name_upload"
            placeholder="image name..."
          />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="image_description_upload"
            id="image_description_upload"
            placeholder="image description..."
          />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="location_upload"
            id="location_upload"
            placeholder="location..."
          />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="category_upload"
            id="category_upload"
            placeholder="category..."
          />
        </div>
        <div>
          <button type="submit" class="btn btn-outline-success">submit</button>
        </div>
      </form>
    </div>
    <!-- form -->
    <div class="search-page" id="search-panel">
      <span class="close-search">&#x2718;</span>
      <form action="{%url 'search_image'%}" class="search-form" method="GET">
        {% csrf_token %}
        <div>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="search gallery..."
          />
        </div>
        <div>
          <button type="submit" class="btn btn-outline-success">search</button>
        </div>
      </form>
    </div>
  </body>
</html>